<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Despre - Alex Mihai | Fotograf</title>
        <meta name="keywords" content=" fotograf, fotografie produs, servicii fotografie, fotograf portret, portrete, fotograf bucuresti, fotograf profesionist, fotograf nunta, fotograf eveniment, fotograf botez, fotograf cununie"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
        <meta name="description" content="Alex Mihai - fotograf eveniment, produs"><!-- descrierea paginii, adesea apare sub link când sunt afișate rezultatele căutării -->
        <%- include ("../fragments/head.ejs") %> <!-- "-" - ii spune afiseaza output-ul fisierului-->
    </head>
    <body>
        <%- include ("../fragments/header.ejs") %>
        <main>
           <%- include ("../fragments/nav.ejs") %>
           <%- include ("../fragments/linktop.ejs") %>
            <section>
                <h1>Despre mine</h1>
                <p>Sunt un student de la Facultatea de Matematica si Informatica a Universitatii Bucuresti,</p><br>
                <p>pasionat de fotografie din anul 2019. Am castigat multiple concursuri pana acum.</p><br>
                <p>Am si ceva experienta cu fotografia de eveniment.</p>
            </section>
            <section>
                <img src="/resources/img/diploma.jpg">
            </section>
        </main>
        <%- include ("../fragments/footer.ejs") %>
    </body>
</html>