<!DOCTYPE html>
<html  lang="ro">
    <head>
        <title>Eroare - Alex Mihai | Fotograf</title>
        <link rel="stylesheet" type="text/css" href="/resources/css/error.css">
        <%- include("../fragments/head.ejs");  %> 


    </head>
    <body>
    <%- include("../fragments/header.ejs");  %> 
    <%- include("../fragments/nav.ejs");  %> 

    <main>
        <div id="err-coloane">
			<div id="err-img">
				<img src="<%- locals.img %>" />
			</div>
			<section>
				<h2><%- locals.title %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragments/footer.ejs");  %> 


    </body>
</html>