<!DOCTYPE html>
<html lang="ro">
    <head>
        <title> <%- locals.prod.nume %> | Alex Mihai - fotograf</title>
        <%- include("../fragments/head") %> 
        <link href="/resources/css/produs.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
    <%- include("../fragments/header") %>
    <%- include("../fragments/nav") %>
    <main>
        <section>
            <h2>Pagină seriviciu <%- locals.prod.nume %></h2>
            <a class="btn btn-outline-secondary" role="button" href="/services">Inapoi la servicii</a>
                <article id="art-produs">
                    <!-- <h3><span class="nume"><%- locals.prod.nume %></span></h3> -->
                    <p>Pret: <span class="pret"><%- locals.prod.pret %> </span></p>
                    <p>Descriere: <span class="descriere"><%- locals.prod.descr %> </span></p>
                    <p>Accesorii: <span class="accesorii"><%- locals.prod.accesorii %> </span></p>
                    <p>Tip: <span class="tip_p"><%- locals.prod.tip_p %> </span></p>
                    <p>Categorie: <span class="categorie"><%- locals.prod.categ %> </span></p>
                    <p>Durata: <span class="durata"><%- locals.prod.durata %> </span></p>
                    <p>Este pe mai multe zile?: <span class="extins"><%- locals.prod.extins %> </span></p>
                    <p>Data adăugare: <span class="data_ad"><%- locals.prod.data_ad %> </span></p>
                    <figure class="imag-produs">
                        <img src="/resources/img/servicii/<%-locals.prod.imag %>" alt="[imagine <%- locals.prod.nume %>]" />
                    </figure> <!-- posibil galerie bootstrap -->
                </article>
        </section>
    </main>
    <%- include("../fragments/footer") %>
    </body>
</html>