<section id="galerie-statica">
    <h2>Galerie</h2>
    <div id="grid-galerie">
        <% var d = new Date().getHours();
            var timer=-1;
            if(d>=5 && d<12){
                timer=0;
            }
            if(d>=12 && d<20){
                timer=1;
            }
            if(d>=20 || d<5){
                timer=2;
            }
            var v_timp=["dimineata", "zi", "seara"];
            var i=0;
            let imag_filtrate=locals.imagini.filter(function (imag) {
                if(imag.timp && imag.timp.includes(v_timp[timer]) || imag.timp=="any"){
                    return 1;
                }else{
                    return 0;
                }
            });

            let l_vector = imag_filtrate.length;
            let l_div = l_vector - l_vector%3;
            for (let i=0;i<l_div;i++) {
                imag=imag_filtrate[i]; %>
                <figure class="galerie-imag">
                    <picture>
                        <source srcset="<%- imag.fisier_mic %>" media="(max-width:700px)" />
                        <source srcset="<%- imag.fisier_mediu %>" media="(max-width:1000px)" />
                        <img src="<%- imag.fisier %>" alt="<%-imag.alt%>" title="<%-imag.alt %>">
                    </picture>
                    <figcaption><%- imag.descriere %></figcaption>
                </figure>
            <% }  %>
            
    </div>
</section>